{% extends 'base.html' %}


{% block titulo %} Agregar empleado {% endblock titulo %}
    

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar nuevo empleado</h1>

        <form method="post" class="cell callout grid-x grid-margin-x" enctype="multipart/form-data">{% csrf_token %}
            <div class="large-6 cell">
                <label>Nombres
                    {{ form.first_name }}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Apellidos
                    {{ form.last_name }}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Trabajo
                    {{ form.job }}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Departamento
                    {{ form.departamento }}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Habilidades
                    {{ form.habilidades }}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Hoja de vida
                    {{ form.hoja_vida }}
                </label>
            </div>
            <div class="large-6 cell">
                <label>Foto
                    {{ form.imagen }}
                </label>
            </div>
            <div class="cell">
                <button type="submit" class="submit success button">Registrar</button>
            </div>  
            
        </form>
               
    </div>

</div>

{% endblock content %}
    
