{% extends 'base.html' %}


{% block titulo %} Empleado Admin {% endblock titulo %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1>Administrador de empleados</h1>
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th width="200">Nombre</th>
                    <th width="200">Apellido</th>
                    <th width="200">Departamento</th>
                    <th width="200">Accion</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for empleados in object_list %}                                                                                
                  <tr>
                    <td>{{ empleados.id }}</td>
                    <td>{{ empleados.first_name }}</td>
                    <td>{{ empleados.last_name }}</td>
                    <td>{{ empleados.departamento}}</td>
                    <td>
                        <a href="{% url 'persona_app:modificar_empleado' empleados.id %}" class="button small success">Editar</a>
                        <a href="{% url 'persona_app:borrar-empleado' empleados.id %}" class="button small warning">Eliminar</a>
                    </td>
                  </tr>
                    {% endfor %}                
                </tbody>
            </table>
        </div>
        <div class="cell">
            
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination text-center">                        
                    {% if page_obj.has_previous  %}
                    <li class="pagination-previous">
                        <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                    </li>                            
                    {% endif %}
                    
                    {% for pagina in paginator.page_range %}
                                            
                    
                    
                    <li><a href="?page={{ pagina }}" aria-label="Page 2">{{ pagina }}</a></li>                                                                                                    
                    
                    {% endfor %}                                                
                    <!--<li class="current"><span class="show-for-sr">You're on page</span>{{ pagina }}</li> -->
                    
                    {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{page_obj.next_page_number}}" aria-label="Next page">Siguiente</a>
                    </li>                            
                    {% endif %}
                            
                </ul>
            </nav>    
            {% endif %}
                
            
        </div>
    </div>
</div>

{% endblock content %}
    